.pagination {  
    margin-top: 30px;
    text-align: right;  
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;                      
}  
.pagination span{
    padding: 5px 10px;
    min-width: 20px;
    cursor: pointer;
}                    
.active-page{
    background-color: white;
    border-bottom: 5px solid black;
}
.enabled-page-navigation{
    color: black;
}
.disabled-page-navigation{
    color: #dddddd;
    cursor: not-allowed !important;
}