.pagination {
    text-align: center;
}  
.pagination span{
    padding: 5px 10px;
    min-width: 20px;
    cursor: pointer;
}                    
.active-page{
    background-color: white;
    border-bottom: 5px solid black;
}
.enabled-page-navigation{
    color: black;
}
.disabled-page-navigation{
    color: #dddddd;
    cursor: not-allowed !important;
}